<a href="https://colab.research.google.com/github/jatinmeenaa/pandas_learning/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]],index=['a','b','c'], columns=['A','B','C'])
df

### Dataframe
A DataFrame is a 2D labeled data structure in Pandas, like a table with rows and columns.
- pd.DataFrame() : creates a dataframe with the data in form of iterables like list dictionaries arrays etc.
- by default the rows and colums have integer labels from 0.
- index=[] : customize the row labels.
- columns=[] : customize the column labels.

In [ ]:
df['A'] # getting a particular column by specifying the label

In [ ]:
df[['B','C']] # getting multiple columns by specifying the labels in form of list

In [ ]:
df[:1:] # returns specific rows when specified in the form of [start: end(exclusive): step]
df[:1:]['A'] # getting specific columns from slice
df['A'][:1:] # make a slice from specified column

In [ ]:
df[2:][3:] # returns the slice of the slice

In [ ]:
df.head(1) # df.head(n=5): returns first n rows, for negative returns all except for last |n|

In [ ]:
df.tail(2) # df.tail(n): returns last n rows, for negative all except for first |n|

In [ ]:
df.sample() # df.sample(n): returns random n rows , random_state = 2 for reproducibility

In [ ]:
df.columns # return column labels
df.columns = ['a','b','c'] # changing the column labels
df.columns.tolist() # return the same in form of list

In [ ]:
df.index # return row labels

In [ ]:
df.info() #shows a summary of the DataFrame, including column names, non-null counts, data types, and memory usage.

In [ ]:
df.describe() # gives statistical summaries (like mean, std, min, max, etc.) for numeric columns in the DataFrame.

In [ ]:
df.shape # returns the shape of dataframe

In [ ]:
df.size # returns the total number of elements in the DataFrame (rows × columns).

### Loading data into dataframe
- pd.read_csv('file.csv') – for CSV files
- pd.read_excel('file.xlsx') – for Excel files
- pd.read_json('file.json') – for JSON files
- pd.read_sql(query, connection) – for SQL databases

> link to raw data from github also works in place of file path

In [ ]:
data = pd.read_csv('https://raw.githubusercontent.com/jatinmeenaa/pandas_learning/refs/heads/main/Students%20Social%20Media%20Addiction.csv')
data.sample(5,random_state=2)

### Accessing the data

#### (.loc , .iloc)
1. df.loc[] is label-based: access rows/columns using labels \\
(e.g., df.loc[2], df.loc[:, 'Name'])

2. df.iloc[] is position-based: access rows/columns using index positions \\
(e.g., df.iloc[2], df.iloc[:, 0])


> The row and column specification can be a list of rows and list of columns

In [ ]:
data.loc[:,'Student_ID']
data.loc[[1,2,3,6],['Student_ID','Gender']]

# data.iloc[:,'Student_ID'] # Error: value error since iloc requires index value not label
data.iloc[:,0]
data.iloc[:4,:4] # both can be a specified in form of slice

#### setting the values using .loc .iloc

In [ ]:
data.loc[0,'Age']=20 #setting single value
data.loc[0:2,'Age']=20 #setting multiple values
data.loc[:,'Age']

#### (.at , .iat)
- df.at[row_label, column_label] – fast access to a single value using labels

- df.iat[row_pos, column_pos] – fast access to a single value using integer positions

In [ ]:
data.at[0,'Student_ID']

#### .sort_values()
  returns the sorted data....do not change the original \\


> For changing the actual data frame set\\
 inplace = True \\
 in this case doesn't return anything

In [ ]:
data.head()

In [ ]:
data.sort_values('Age') # default ascending
data.sort_values(by='Age') # works the same
data.sort_values(['Gender','Age'],ascending=[0,1],inplace=True) # gender descending and age ascending
data

In [ ]:
data=pd.read_csv('https://raw.githubusercontent.com/jatinmeenaa/pandas_learning/refs/heads/main/Students%20Social%20Media%20Addiction.csv')
data

#### iterating row wise ( not much prefrable as not optimized )

df.iterrows() lets you loop through the DataFrame row by row as (index, Series) pairs.

In [ ]:
for index, row in data.iterrows():
  print(index)
  print(type(row))
  print('\n\n')

### Filtering the data

#### numeric

In [ ]:
data.loc[data['Gender']=='Male'] # all the columns for male

In [ ]:
data[data['Gender']=='Male'] # works the same

In [ ]:
data.loc[data['Gender']=='Male',['Student_ID','Age']] # specific columns

In [ ]:
data[data['Gender']=='Male'][['Student_ID','Age']] # works the same

In [ ]:
data[(data['Gender']=='Male')& (data['Age']>19)][['Student_ID','Age']] # multiple conditions

#### string and regex based filtering
- .str is used to apply string functions on each element of a Series containing strings

- Series.str.contains(pat, case=True, flags=0, na=None, regex=True) \\
na=False : treats a missing value as False (avoiding errors) \\
case=False : case doesn't matter

In [ ]:
data[data['Country'].str.contains(r'^I')]

In [ ]:
data[data['Country'].isin(['UK','USA'])]

In [ ]:
data.query('Country=="UK" and Age<=20')

### Adding/Removing columns

In [ ]:
data['Sal']=0 # Adding a new column with the value as 0
import numpy as np
data['Mental_state']=np.where(data['Mental_Health_Score']<6,'Fail','Pass') # values on some condition
data

In [ ]:
data.drop(columns=['Sal','Mental_state'],inplace=True) # removing columns
# by default inplace=False so only returns and do not modify original
data=data.drop(columns=['Sal','Mental_state']) # made to point to modified data
data

In [ ]:
new_data=data # points to same dataframe
new_data=data.copy() # creates a new dataframe and copy the data to that
new_data

In [ ]:
data['new_column']=data['Age']+1 # creating the column form existing data
data

In [ ]:
data.rename(columns={'new_column': 'new'},inplace=True) # renaming the column
data

In [ ]:
data['Date']='18-07-2025'
data['Date']
data['Date_datetime'] = pd.to_datetime(data['Date']) # changing to datetime
# to avoid error due to format we can specify the format as
# tells pandas how to read the date string
data['Date_datetime'] = pd.to_datetime(data['Date'], format='%d-%m-%Y')
data['Date_datetime']

In [ ]:
# using .dt to access datetime properties
#.dt can only be used on Series with datetime-like values (e.g., datetime64, Timestamp)
data['Year']=data['Date_datetime'].dt.year # extracting the year
data['Month']=data['Date_datetime'].dt.month # extracting the month

#### updating to the file

In [ ]:
data.to_csv('data.csv',index=False) # saves the data
# index= False to avoid saving index too

#### using lambda and custom functions with .apply()

In [ ]:
def description(row):
  return 'Male' if row['Gender']=='Male' else 'Female'

In [ ]:
data['New']=data['Age'].apply(lambda x: x*x) # using lambda function
data['Description']=data.apply(description,axis=1) # using custom function ; axis = 1 to specify passing row ; 0 is for colums
data[['Age','New','Description']]

### Merging and Concatenating data
- .merge() in Pandas is used to combine two DataFrames based on common columns or indexes (like SQL joins).



> pd.merge(df1, df2, on='key') \\

1. on – column(s) to join on \\
  a. when column names are same on which the dataframes are merge appears once \\
  b. same column names on which merge is not done are added with some suffix to distinguish

2. how – type of join: 'inner' (default) , 'left', 'right', 'outer'

3. left_on / right_on – if column names differ in the two DataFrames

- returns a new data frame

In [ ]:
# saving the sample data
bios=pd.read_csv('https://raw.githubusercontent.com/KeithGalli/complete-pandas-tutorial/refs/heads/master/data/bios.csv')
bios.to_csv('bios.csv',index=False)
noc_regions=pd.read_csv('https://raw.githubusercontent.com/KeithGalli/complete-pandas-tutorial/refs/heads/master/data/noc_regions.csv')
noc_regions.to_csv('noc_regions.csv',index=False)

In [ ]:
pd.merge(bios,noc_regions,left_on='born_country',right_on='NOC',how='left') # merging on columns with different names
pd.merge(bios,noc_regions,left_on='born_country',right_on='NOC',suffixes=['h','j'],how='left')
# here this suffixes is supplied with lsuffix and rsuffix which is added to columsn with same name to about confusion
# by default ['_x','_y']

In [ ]:
pd.merge(bios,noc_regions,on='NOC',how='left') # merging on columns with same name


> pd.concat() is used to combine multiple DataFrames or Series along a particular axis.

```
pd.concat([df1, df2], axis=0)
```
axis=0 → stack vertically (default, like row-wise append)

axis=1 → stack horizontally (like adding new columns)

ignore_index=True → resets index in the result

keys=['a', 'b'] → adds multi-level index labels (in two df first df's rows are preceded by a and for second df , preceded by b)

In [ ]:
bios.head()

In [ ]:
df1=bios[bios['born_country'] =='FRA'][:5]
df2=bios[bios['born_country']=='GBR'][:5]
final=pd.concat([df1,df2],axis=0) # concating vertically (stack)
final.index.to_list() # the index is not reseted

final=pd.concat([df1,df2],axis=0,ignore_index=True) # reseting the index
final.index.to_list

In [ ]:
final=pd.concat([df1,df2],axis=0,keys=['a','b']) # multilevel index
final.index.to_list()

In [ ]:
final=pd.concat([df1,df2],axis=1) # concating horizontally (add columns)
final
### this unexpected output because to merge horizontally the index shall match

In [ ]:
df1.index= [1,2,3,4,5]
df2.index=[1,2,3,4,6]
pd.concat([df1,df2],axis=1)