<a href="https://colab.research.google.com/github/jatinmeenaa/pandas_learning/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]],index=['a','b','c'], columns=['A','B','C'])
df

   A  B  C
a  1  2  3
b  4  5  6
c  7  8  9

### Dataframe
A DataFrame is a 2D labeled data structure in Pandas, like a table with rows and columns.
- pd.DataFrame() : creates a dataframe with the data in form of iterables like list dictionaries arrays etc.
- by default the rows and colums have integer labels from 0.
- index=[] : customize the row labels.
- columns=[] : customize the column labels.

In [ ]:
df['A'] # getting a particular column by specifying the label

In [ ]:
df[['B','C']] # getting multiple columns by specifying the labels in form of list

In [ ]:
df[:1:] # returns specific rows when specified in the form of [start: end(exclusive): step]
df[:1:]['A'] # getting specific columns from slice
df['A'][:1:] # make a slice from specified column

In [ ]:
df[2:][3:] # returns the slice of the slice

In [ ]:
df.head(1) # df.head(n=5): returns first n rows, for negative returns all except for last |n|

In [ ]:
df.tail(2) # df.tail(n): returns last n rows, for negative all except for first |n|

In [ ]:
df.sample() # df.sample(n): returns random n rows , random_state = 2 for reproducibility

In [ ]:
df.columns # return column labels
df.columns = ['a','b','c'] # changing the column labels
df.columns.tolist() # return the same in form of list

In [ ]:
df.index # return row labels

In [ ]:
df.info() #shows a summary of the DataFrame, including column names, non-null counts, data types, and memory usage.

In [ ]:
df.describe() # gives statistical summaries (like mean, std, min, max, etc.) for numeric columns in the DataFrame.

In [ ]:
df.shape # returns the shape of dataframe

In [ ]:
df.size # returns the total number of elements in the DataFrame (rows × columns).

### Loading data into dataframe
- pd.read_csv('file.csv') – for CSV files
- pd.read_excel('file.xlsx') – for Excel files
- pd.read_json('file.json') – for JSON files
- pd.read_sql(query, connection) – for SQL databases

> link to raw data from github also works in place of file path

In [2]:
data = pd.read_csv('https://raw.githubusercontent.com/jatinmeenaa/pandas_learning/refs/heads/main/Students%20Social%20Media%20Addiction.csv')
data.sample(5,random_state=2)

,Student_ID,Age,Gender,Academic_Level,Country,Avg_Daily_Usage_Hours,Most_Used_Platform,Affects_Academic_Performance,Sleep_Hours_Per_Night,Mental_Health_Score,Relationship_Status,Conflicts_Over_Social_Media,Addicted_Score
328,329,19,Female,Undergraduate,France,4.5,Instagram,No,7.5,7,In Relationship,2,5
227,228,22,Male,Graduate,Russia,4.8,VKontakte,No,7.2,7,Single,2,5
280,281,19,Female,Undergraduate,Japan,3.1,LINE,No,8.5,8,Single,1,3
37,38,19,Female,High School,UAE,6.2,Instagram,Yes,5.1,5,In Relationship,4,9
530,531,20,Female,Undergraduate,Brazil,5.9,TikTok,Yes,6.6,6,Single,3,7

### Accessing the data

#### (.loc , .iloc)
1. df.loc[] is label-based: access rows/columns using labels \\
(e.g., df.loc[2], df.loc[:, 'Name'])

2. df.iloc[] is position-based: access rows/columns using index positions \\
(e.g., df.iloc[2], df.iloc[:, 0])


> The row and column specification can be a list of rows and list of columns

 loc: the slice given if index label in integer 0,1,2... the end is included

 iloc: the slice follow standart slicing i.e. end is excluded

In [ ]:
data.loc[:,'Student_ID']
data.loc[[1,2,3,6],['Student_ID','Gender']]

# data.iloc[:,'Student_ID'] # Error: value error since iloc requires index value not label
data.iloc[:,0]
data.iloc[:4,:4] # both can be a specified in form of slice

#### setting the values using .loc .iloc

In [ ]:
data.loc[0,'Age']=20 #setting single value
data.loc[0:2,'Age']=20 #setting multiple values
data.loc[:,'Age']

#### (.at , .iat)
- df.at[row_label, column_label] – fast access to a single value using labels

- df.iat[row_pos, column_pos] – fast access to a single value using integer positions

In [ ]:
data.at[0,'Student_ID']

#### .sort_values()
  returns the sorted data....do not change the original \\


> For changing the actual data frame set\\
 inplace = True \\
 in this case doesn't return anything

In [ ]:
data.head()

In [ ]:
data.sort_values('Age') # default ascending
data.sort_values(by='Age') # works the same
data.sort_values(['Gender','Age'],ascending=[0,1],inplace=True) # gender descending and age ascending
data

In [ ]:
data=pd.read_csv('https://raw.githubusercontent.com/jatinmeenaa/pandas_learning/refs/heads/main/Students%20Social%20Media%20Addiction.csv')
data

#### iterating row wise ( not much prefrable as not optimized )

df.iterrows() lets you loop through the DataFrame row by row as (index, Series) pairs.

In [ ]:
for index, row in data.iterrows():
  print(index)
  print(type(row))
  print('\n\n')

### Filtering the data

#### numeric

In [ ]:
data.loc[data['Gender']=='Male'] # all the columns for male

In [ ]:
data[data['Gender']=='Male'] # works the same

In [ ]:
data.loc[data['Gender']=='Male',['Student_ID','Age']] # specific columns

In [ ]:
data[data['Gender']=='Male'][['Student_ID','Age']] # works the same

In [ ]:
data[(data['Gender']=='Male')& (data['Age']>19)][['Student_ID','Age']] # multiple conditions

#### string and regex based filtering
- .str is used to apply string functions on each element of a Series containing strings

- Series.str.contains(pat, case=True, flags=0, na=None, regex=True) \\
na=False : treats a missing value as False (avoiding errors) \\
case=False : case doesn't matter

In [ ]:
data[data['Country'].str.contains(r'^I')]

In [ ]:
data[data['Country'].isin(['UK','USA'])]

In [ ]:
data.query('Country=="UK" and Age<=20')

### Adding/Removing columns

In [ ]:
data['Sal']=0 # Adding a new column with the value as 0
import numpy as np
data['Mental_state']=np.where(data['Mental_Health_Score']<6,'Fail','Pass') # values on some condition
data

In [ ]:
data.drop(columns=['Sal','Mental_state'],inplace=True) # removing columns
# by default inplace=False so only returns and do not modify original
data=data.drop(columns=['Sal','Mental_state']) # made to point to modified data
data

In [ ]:
new_data=data # points to same dataframe
new_data=data.copy() # creates a new dataframe and copy the data to that
new_data

In [ ]:
data['new_column']=data['Age']+1 # creating the column form existing data
data

In [ ]:
data.rename(columns={'new_column': 'new'},inplace=True) # renaming the column
data

In [ ]:
data['Date']='18-07-2025'
data['Date']
data['Date_datetime'] = pd.to_datetime(data['Date']) # changing to datetime
# to avoid error due to format we can specify the format as
# tells pandas how to read the date string
data['Date_datetime'] = pd.to_datetime(data['Date'], format='%d-%m-%Y')
data['Date_datetime']

In [ ]:
# using .dt to access datetime properties
#.dt can only be used on Series with datetime-like values (e.g., datetime64, Timestamp)
data['Year']=data['Date_datetime'].dt.year # extracting the year
data['Month']=data['Date_datetime'].dt.month # extracting the month

#### updating to the file

In [ ]:
data.to_csv('data.csv',index=False) # saves the data
# index= False to avoid saving index too

#### using lambda and custom functions with .apply()

In [ ]:
def description(row):
  return 'Male' if row['Gender']=='Male' else 'Female'

In [ ]:
data['New']=data['Age'].apply(lambda x: x*x) # using lambda function
data['Description']=data.apply(description,axis=1) # using custom function ; axis = 1 to specify passing row ; 0 is for colums
data[['Age','New','Description']]

### Merging and Concatenating data
- .merge() in Pandas is used to combine two DataFrames based on common columns or indexes (like SQL joins).



> pd.merge(df1, df2, on='key') \\

1. on – column(s) to join on \\
  a. when column names are same on which the dataframes are merge appears once \\
  b. same column names on which merge is not done are added with some suffix to distinguish

2. how – type of join: 'inner' (default) , 'left', 'right', 'outer'

3. left_on / right_on – if column names differ in the two DataFrames

- **returns a new data frame**

In [3]:
# saving the sample data
bios=pd.read_csv('https://raw.githubusercontent.com/KeithGalli/complete-pandas-tutorial/refs/heads/master/data/bios.csv')
bios.to_csv('bios.csv',index=False)
noc_regions=pd.read_csv('https://raw.githubusercontent.com/KeithGalli/complete-pandas-tutorial/refs/heads/master/data/noc_regions.csv')
noc_regions.to_csv('noc_regions.csv',index=False)

In [4]:
pd.merge(bios,noc_regions,left_on='born_country',right_on='NOC',how='left') # merging on columns with different names
pd.merge(bios,noc_regions,left_on='born_country',right_on='NOC',suffixes=['h','j'],how='left')
# here this suffixes is supplied with lsuffix and rsuffix which is added to columsn with same name to about confusion
# by default ['_x','_y']

,athlete_id,name,born_date,born_city,born_region,born_country,NOCh,height_cm,weight_kg,died_date,NOCj,region,notes
0,1,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02,FRA,France,NaN
1,2,Arnaud Boetsch,1969-04-01,Meulan,Yvelines,FRA,France,183.0,76.0,NaN,FRA,France,NaN
2,3,Jean Borotra,1898-08-13,Biarritz,Pyrénées-Atlantiques,FRA,France,183.0,76.0,1994-07-17,FRA,France,NaN
3,4,Jacques Brugnon,1895-05-11,Paris VIIIe,Paris,FRA,France,168.0,64.0,1978-03-20,FRA,France,NaN
4,5,Albert Canet,1878-04-17,Wandsworth,England,GBR,France,NaN,NaN,1930-07-25,GBR,UK,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
145495,149222,Polina Luchnikova,2002-01-30,Serov,Sverdlovsk,RUS,ROC,167.0,61.0,NaN,RUS,Russia,NaN
145496,149223,Valeriya Merkusheva,1999-09-20,Moskva (Moscow),Moskva,RUS,ROC,168.0,65.0,NaN,RUS,Russia,NaN
145497,149224,Yuliya Smirnova,1998-05-08,Kotlas,Arkhangelsk,RUS,ROC,163.0,55.0,NaN,RUS,Russia,NaN
145498,149225,André Foussard,1899-05-19,Niort,Deux-Sèvres,FRA,France,166.0,NaN,1986-03-18,FRA,France,NaN
145499,149814,Bill Phillips,1913-07-15,Dulwich Hill,New South Wales,AUS,Australia,NaN,NaN,2003-10-20,AUS,Australia,NaN

In [ ]:
pd.merge(bios,noc_regions,on='NOC',how='left') # merging on columns with same name


> pd.concat() is used to combine multiple DataFrames or Series along a particular axis.

```
pd.concat([df1, df2], axis=0)
```
axis=0 → stack vertically (default, like row-wise append)

axis=1 → stack horizontally (like adding new columns)

ignore_index=True → resets index in the result

keys=['a', 'b'] → adds multi-level index labels (in two df first df's rows are preceded by a and for second df , preceded by b)

In [ ]:
bios.head()

In [ ]:
df1=bios[bios['born_country'] =='FRA'][:5]
df2=bios[bios['born_country']=='GBR'][:5]
final=pd.concat([df1,df2],axis=0) # concating vertically (stack)
final.index.to_list() # the index is not reseted

final=pd.concat([df1,df2],axis=0,ignore_index=True) # reseting the index
final.index.to_list

In [ ]:
final=pd.concat([df1,df2],axis=0,keys=['a','b']) # multilevel index
final.index.to_list()

In [ ]:
final=pd.concat([df1,df2],axis=1) # concating horizontally (add columns)
final
### this unexpected output because to merge horizontally the index shall match

In [ ]:
df1.index= [1,2,3,4,5]
df2.index=[1,2,3,4,6]
pd.concat([df1,df2],axis=1)

### Handling Null (NaN) values
missing or undefined data \\
```
v = np.nan
```
assigning a nan value to v


> **.isna( )** checks for missing values (NaN) and returns a DataFrame or Series of True/False.



> .notna() returns True for non-missing values (opposite of .isna()).



> **.fillna()** is used to replace NaN values with a specified value. And return the dataframe or series.

For the method parameter in .fillna(), main options are:

'ffill' or 'pad' — forward fill (fill with previous valid value)

'bfill' or 'backfill' — backward fill (fill with next valid value)

In [45]:
data=data[:10].copy()
data.loc[3:4,'Age']=np.nan
data

,Student_ID,Age,Gender,Academic_Level,Country,Avg_Daily_Usage_Hours,Most_Used_Platform,Affects_Academic_Performance,Sleep_Hours_Per_Night,Mental_Health_Score,Relationship_Status,Conflicts_Over_Social_Media,Addicted_Score
0,1.0,19.0,Female,Undergraduate,Bangladesh,5.2,Instagram,Yes,6.5,6,In Relationship,3,8
1,2.0,22.0,Male,Graduate,India,2.1,Twitter,No,7.5,8,Single,0,3
2,NaN,20.0,Female,Undergraduate,USA,6.0,TikTok,Yes,5.0,5,Complicated,4,9
3,NaN,NaN,Male,High School,UK,3.0,YouTube,No,7.0,7,Single,1,4
4,1.0,NaN,Male,Graduate,Canada,4.5,Facebook,Yes,6.0,6,In Relationship,2,7
5,6.0,19.0,Female,Undergraduate,Australia,7.2,Instagram,Yes,4.5,4,Complicated,5,9
6,7.0,23.0,Male,Graduate,Germany,1.5,LinkedIn,No,8.0,9,Single,0,2
7,8.0,20.0,Female,Undergraduate,Brazil,5.8,Snapchat,Yes,6.0,6,In Relationship,2,8
8,9.0,18.0,Male,High School,Japan,4.0,TikTok,No,6.5,7,Single,1,5
9,10.0,21.0,Female,Graduate,South Korea,3.3,Instagram,No,7.0,7,In Relationship,1,4

In [ ]:
data.info() # to see total no of values non-null in each column

In [ ]:
data.isna() # returns dataframe of same size as data with T/F in place of data
data.isna().sum() # will show the no of null/nan/missing values for each columns
# for sum() axis=0 default
# True:1
# False:2

In [ ]:
data.fillna(1) # replace all nan with 1
data['Student_ID'].fillna(1) # replacing nan in specific column

In [50]:
data.loc[2:3,'Student_ID']=np.nan
data['Age'].fillna(data['Age'].mean()) # replacing nan with mean
data['Age'].fillna(data['Age'].interpolate(),inplace=True) # estimates the intermediate value (linear intepolation between known points)
data

/tmp/ipython-input-50-714390873.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Age'].fillna(data['Age'].interpolate(),inplace=True) # estimates the intermediate value (linear intepolation between known points)

,Student_ID,Age,Gender,Academic_Level,Country,Avg_Daily_Usage_Hours,Most_Used_Platform,Affects_Academic_Performance,Sleep_Hours_Per_Night,Mental_Health_Score,Relationship_Status,Conflicts_Over_Social_Media,Addicted_Score
0,1.0,19.000000,Female,Undergraduate,Bangladesh,5.2,Instagram,Yes,6.5,6,In Relationship,3,8
1,2.0,22.000000,Male,Graduate,India,2.1,Twitter,No,7.5,8,Single,0,3
2,NaN,20.000000,Female,Undergraduate,USA,6.0,TikTok,Yes,5.0,5,Complicated,4,9
3,NaN,19.666667,Male,High School,UK,3.0,YouTube,No,7.0,7,Single,1,4
4,1.0,19.333333,Male,Graduate,Canada,4.5,Facebook,Yes,6.0,6,In Relationship,2,7
5,6.0,19.000000,Female,Undergraduate,Australia,7.2,Instagram,Yes,4.5,4,Complicated,5,9
6,7.0,23.000000,Male,Graduate,Germany,1.5,LinkedIn,No,8.0,9,Single,0,2
7,8.0,20.000000,Female,Undergraduate,Brazil,5.8,Snapchat,Yes,6.0,6,In Relationship,2,8
8,9.0,18.000000,Male,High School,Japan,4.0,TikTok,No,6.5,7,Single,1,5
9,10.0,21.000000,Female,Graduate,South Korea,3.3,Instagram,No,7.0,7,In Relationship,1,4

dropna() is used to remove rows or columns with missing (NaN) values.

Examples:
- df.dropna() → drops rows with any NaN

- df.dropna(axis=1) → drops columns with any NaN

- df.dropna(thresh=2) → keeps rows with at least 2 non-NaN values

- df.dropna(subset=['col1']) → drops rows where col1 is NaN

You can use inplace=True to modify the DataFrame directly.

In [54]:
data.dropna(inplace=True)

In [55]:
data

,Student_ID,Age,Gender,Academic_Level,Country,Avg_Daily_Usage_Hours,Most_Used_Platform,Affects_Academic_Performance,Sleep_Hours_Per_Night,Mental_Health_Score,Relationship_Status,Conflicts_Over_Social_Media,Addicted_Score
0,1.0,19.000000,Female,Undergraduate,Bangladesh,5.2,Instagram,Yes,6.5,6,In Relationship,3,8
1,2.0,22.000000,Male,Graduate,India,2.1,Twitter,No,7.5,8,Single,0,3
4,1.0,19.333333,Male,Graduate,Canada,4.5,Facebook,Yes,6.0,6,In Relationship,2,7
5,6.0,19.000000,Female,Undergraduate,Australia,7.2,Instagram,Yes,4.5,4,Complicated,5,9
6,7.0,23.000000,Male,Graduate,Germany,1.5,LinkedIn,No,8.0,9,Single,0,2
7,8.0,20.000000,Female,Undergraduate,Brazil,5.8,Snapchat,Yes,6.0,6,In Relationship,2,8
8,9.0,18.000000,Male,High School,Japan,4.0,TikTok,No,6.5,7,Single,1,5
9,10.0,21.000000,Female,Graduate,South Korea,3.3,Instagram,No,7.0,7,In Relationship,1,4